<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>PLEASE LOGIN</h1>
      <br>
      <form action="" method="post">
        <input type="text" class="form__field" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" class="form__field" placeholder="Password" name="password" value="{{
          request.form.password }}">
	<br>
        <input class="confirm" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>